{% extends "admin_layout.html" %}
{% block admin_title %}账号管理{% endblock %}
{% block admin_content %}
    <h1>账号管理</h1>
    <table class="data-table">
        <thead>
            <tr>
                <th>用户ID</th>
                <th>用户名</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="user-table-body">
        </tbody>
    </table>
{% endblock %}
{% block admin_scripts %}
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}